@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");

.container {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 7rem 3rem 0 3rem;
  font-family: "Livvic", sans-serif;
}

.heading {
  background: #3f51b5;
  color: white;
  width: 100%;
  margin: auto;
}
